/* tags */
body, html{
    width: 100%;
    font-size: 17px;
    background-color: white;
    margin:0;
    padding:0;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 17px;
    box-sizing: border-box;
}


logo{
    position: relative;
    top: -10px;
    width: auto;
    padding: 5px;
    font-size: 17px;
    height: auto;
}

logo a{
    color: black;
    text-decoration: none;
}

logo a:active{
    color: black;
    text-decoration: none;
}

logo a:visited{
    color: black;
    text-decoration: none;
}

logo a:hover{
    color: gray;
    text-decoration: none;
}

nav{
    position: relative;
    width: auto;
    height: auto;
    float: right;
    right:0;
    padding: 5px;
    font-size: 17px;
}

nav a{
    color:black;
    text-decoration: none;
}

nav a:visited{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: gray;
    text-decoration: none;
}

main{
    position: relative;
    top: 0;
    width: 80%;
    margin: auto;
    font-size: 17px;
    color: black;
}

main a{
    color: black;
    text-decoration: none;
}

main a:hover{
    color: #D9D9D9;
    text-decoration: none;
}

table{
    border: 1px solid gray;
    width: 100%;
}

th{
    border: 1px solid gray;
}

tr{
    border: 1px solid gray;
}

td{
    border: 1px solid gray;
}

footer{
    position: relative;
    bottom: -20px;
    width: 100%;
    height: auto;
    color: black;
    background-color: white;
    font-size: 15px;
    box-sizing: border-box;
    padding: 5px;
    float: left;
}

input[type=text], input[type=email], input[type=password], textarea {
    width: 100%;
    padding: 5px;
}

select{
    width: 200px;
    padding: 5px;
}
label {
    color: black;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}

section{
    position: relative;
    font-size: large;
    right: 0;
    width: 80%;
}

@media screen and (max-width: 600px) {
    section{
        width: 100%;
    }
}

h1 {
    margin-top: 0;
}


aside{
    position: relative;
    top: 10px;
    left: 0;
    width: 20%;
    background-color: white;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    aside{
        width: 100%;
    }
}

article{
    position: relative;
    top: 10px;
    right: 0;
    width: 25%;
}

/* classes */
.footerRight{
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    float: right;
    text-decoration: none;
    right:0;
    padding: 5px;
    font-size: 15px;
}

.footerRight a{
    color: black;
    text-decoration: none;
}

.footerRight a:active{
    color: black;
}

.footerRight a:visited{
    color: black;
    text-decoration: none;
}

.footerRight a:hover{
    color: grey;
    text-decoration: none;
}

.danger{
    color: red;
    text-decoration: none;
}

.danger a{
    color: red;
    text-decoration: none;
}

.danger a:link{
    color: red;
    text-decoration: none;
}

.danger a:active{
    color: red;
    text-decoration: none;
}

.danger a:visited{
    color: red;
    text-decoration: none;
}

.danger a:hover{
    color: red;
    text-decoration: none;
}

.black{
    color: black;
    text-decoration: none;
}

.black:link{
    color: black;
    text-decoration: none;
}

.black:active{
    color: black;
    text-decoration: none;
}

.black:visited{
    color: black;
    text-decoration: none;
}

.black:hover{
    color: lightgray;
    text-decoration: none;
}

.lt{
    color: green;
    width: auto;
    height: auto;
    font-size: 40px;
    left: 0;
    padding: 10px;
    text-decoration: none;
}


.ltg{
    color: gray;
    width: auto;
    height: auto;
    font-size: 40px;
    left: 0;
    padding: 10px;
    text-decoration: none;
}

.ltg a{
    color: gray;
    text-decoration: none;
}

.ltg a:active{
    color: gray;
    text-decoration: none;
}

.ltg a:visited{
    color: gray;
    text-decoration: none;
}

.ltg a:hover{
    color: gray;
    text-decoration: none;
}

.rt{
    position: relative;
    top: -7px;
    color: green;
    width: auto;
    height: auto;
    font-size: 40px;
    /*background-color: green;*/
    right: 0;
    float: right;
    padding: 10px;
    text-decoration: none;
}


.rtg{
    position: relative;
    top: -7px;
    font-size: 40px;
    color: gray;
    width: auto;
    height: auto;
    /*background-color: gray;*/
    right: 0;
    float: right;
    padding: 10px;
    text-decoration: none;
}

.rtg a{
    color: gray;
    text-decoration: none;
}

.rtg a:active{
    color: gray;
    text-decoration: none;
}

.rtg a:visited{
    color: gray;
    text-decoration: none;
}

.rt a:hover{
    color: gray;
    text-decoration: none;
}

.gray{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.gray a{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.gray a:link{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.gray a:visited{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.gray a:hover{
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.lg{
    color: lightgray;
    text-decoration: none;
}

.lg a{
    color: lightgray;
    text-decoration: none;
}

.lg a:link{
    color: lightgray;
    text-decoration: none;
}

.lg a:active{
    color: lightgray;
    text-decoration: none;
}

.lg a:visited{
    color: lightgray;
    text-decoration: none;
}

.lg a:hover{
    color: lightgray;
    text-decoration: none;
}


.secondary{
    color: gray;
}

.title{
    position: relative;
    top: 0;
    width: 99%;
    height: auto;
    background-color: gray;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
    padding: 5px;
}

.title a{
    color: white;
}

.title a:active{
    color: white;
}

.title a:hover{
    color: white;
}
.title a:visited{
    color: white;
}
.title a:active{
    color: white;
}

.text-center{
    position: relative;
    margin-top: 20px;
}

.middle{
    position: relative;
    top: 0;
    /*background-color: gray;*/
    color: gray;
    text-align: center;
    width: auto;
}

.published{
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    background-color: gray;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
    padding: 5px;
}

.published a{
    color: white;
}

.published a:active{
    color: white;
}


.published a:visited{
    color: white;
}
.published a:active{
    color: white;
}
.published a:hover{
    color: white;
}

/* Container for flexboxes */
.row {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

/* align-items: center; */
.centeredItems{
    align-items: center;
}

.ml-auto{
    margin-left: auto;
    width: auto;
}

.image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 50px;
}
.image {
    position: relative;
}

.image-style-side {
    float: right;
    margin-left: 1em;
    max-width: 50%;
}


/* Create three equal columns */
.column {
    flex: 25%; /* flex: 15% */
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 1em;
    perspective: 600px;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.25), 0 0.02125em 0.06125em rgba(0, 0, 0, 0.25);
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 25%;
    }
}

.inside{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    /*border: 1px solid gray;*/
    background-color: gray;
    color: white;
    text-align: center;
}

.inside a{
    color: white;
    text-decoration: none;
}

.inside a:link{
    color: white;
    text-decoration: none;
}

.inside a:active{
    color: white;
    text-decoration: none;
}

.inside a:visited{
    color: white;
    text-decoration: none;
}

.inside a:hover{
    color: lightgray;
    text-decoration: none;
}

.t{
    font-size: 70px;
    text-align: center;
}

.c{
    font-size: 50px;
    text-align: center;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    /*content: '\02795'; !* Unicode character for "plus" sign (+) *!*/
    content: url('/images/plus.png'); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: green;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url('/images/minus.png');; /* Unicode character for "minus" sign (-) */
    color: green;
}

.is-valid{
    border-color: green;
}

.is-invalid{
    border-color: red;
}

.courseButton{
    position: relative;
    top: 0;
    padding: 10px;
    border-radius: 5px;
    border: #f2f2f2 solid 2px;
    background-color: white;
}

/* Basic styling for the dropdown button */
.dropbtn {
    background-color: #FFFFFF;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FFFFFF;}

/* Style icon of arrow pointing up when click and down when not click of background black */
.dropdown-icon {
    margin-left: 5px; /* Spacing between text and icon */
    color: black;
}

.dropdown-icon a:hover{

}

.textCentered{
    position: relative;
    top: -30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 80%; /* Width of three slides */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.carousel-slide {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.carousel {
    transition: transform 0.3s ease-in-out;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}