<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <logo>
            <a href="/">Lokang</a>
            &nbsp;
            <div class="dropdown">
                <button class="dropbtn">
                    Courses
            <span class="dropdown-icon">&#9660;</span>
                </button>
                <div class="dropdown-content">
                    <a href="/home/index/1">Programming</a>
                    <a href="/home/index/2">Science</a>
                    <a href="/home/index/3">Technology </a>
                    <a href="/home/index/4">Space</a>
                    <a href="/home/index/5">Energy </a>
                    <a href="/home/index/6">Mathematics </a>
                </div>
            </div>
        </logo>
        <nav class="ml-auto">
            <a href="/course/manage/">Courses</a>
            <a href="/user/profile/">Profile</a>
            <a href="/user/users/">Users</a>
            <a class="danger" href="/user/logout/">Logout</a>
        </nav>
    </header>

    {% block content %}{% endblock content %}

    <footer>
        &copy;Lokang 2014-2024
        <!--()-->
        <div class="textCentered">
            <a href="https://apps.apple.com/app/6470139753" target="_blank">
                <img src="https://lokang.com/images/apple.svg" alt="Apple App Store">
            </a>
        </div>
        <span class="footerRight">
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </span>
    </footer>
</body>
</html>