{% extends '_base.html' %}


{% block title %}Editor{% endblock title %}


{% block content %}
<main>
    <form action="/about/edit/" method="post">
        {% csrf_token %}
        <p>
            <label for="slug">Slug:</label>
            <input type="text" name="slug" value="about" placeholder="">
        </p>
        <p>
            <label for="description">Description:</label>
            <textarea rows = "7" class="editor" name="description" placeholder=""></textarea>
        </p>
            <button class="bg" type="submit">Submit</button>
    </form>
</main>
<script src="/static/js/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '.editor' ), {
            ckfinder: {
                uploadUrl: '/home/uploadJs/',
                filebrowserUploadMethod:'form'
            },
            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'bulletedList',
                    'numberedList',
                    '|',
                    'indent',
                    'outdent',
                    '|',
                    'imageUpload',
                    'blockQuote',
                    'insertTable',
                    'mediaEmbed',
                    'undo',
                    'redo',
                    'fontColor',
                    'codeBlock',
                    'alignment'
                ]
            },
            language: 'en',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            },
            licenseKey: '',

        } )
        .then( editor => {
            window.editor = editor;
        } )
        .catch( error => {
            console.error( 'Oops, something went wrong!' );
            console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
            console.warn( 'Build id: mxyj6if7x7k0-v0lrehy4kd7r' );
            console.error( error );
        } );
</script>
{% endblock content %}