{% extends '_base.html' %}

{% block title %}

Lokang || about

{% endblock title %}


{% block content %}

<main>
    {{ description|safe }}
    <br>
    <right>
        <a class="text-decoration-none success" href="/about/edit"> Edit</a> 
    </right>
</main>

{% endblock content %}