{% extends '_base.html' %}

{% block title %}

Lokang || STEM Research

{% endblock title %}


{% block content %}

<main>
    <p>
        <strong>
            <a class="black" href="/course/index/1">PHP and  MySQL</a>
        </strong>
        <br>
        <p>PHP (Hypertext Preprocessor) is a programming language that is widely used for creating dynamic web pages. It can be embedded into HTML and is often used in conjunction with a database to store and retrieve data. PHP is a server-side language, which means that it is executed on the server rather than in the user's web browser. This allows PHP to perform tasks such as reading and writing to files, generating dynamic web content, and interacting with databases. One of the advantages of using PHP is that it is easy to learn, especially for those who are already familiar with languages such as C or C++. PHP code is written in plain text and is typically saved with a .php file extension. To use PHP, you will need a web server that supports PHP and a text editor to write your code. When a user requests a PHP page from your website, the server processes the PHP code and sends the resulting HTML to the user's web browser. PHP is a popular choice for web development because it is powerful, flexible, and easy to use. It is used by many large websites and is supported by almost all web hosting providers.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/2">JavaScript</a>
        </strong>
        <br>
        <p>JavaScript is a powerful, high-level, dynamic programming language that plays a major role in web development. It allows you to create interactive and dynamic user interfaces, manipulate the Document Object Model (DOM), handle events, and much more. Initially created to run solely in the browser, it has since expanded to server-side development through Node.js and other runtime environments.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/3">HTML and CSS</a>
        </strong>
        <br>
        <p>HTML (HyperText Markup Language) and CSS (Cascading Style Sheets) are fundamental technologies used in web development. HTML is used for structuring your web content. CSS is used for designing and layout.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/9">Java</a>
        </strong>
        <br>
        <p>
            Java is a programming language and a platform. Java is a high level, robust, object-oriented and secure programming language. Java was developed by <i>Sun Microsystems</i>
            (which is now the subsidiary of Oracle) in the year 1995. <i>James Gosling</i>
            is known as the father of Java. Any hardware or software environment in which a program runs is known as a platform. Since Java has a runtime environment (JRE) and API, it is called a platform.
        </p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/10">MySQL</a>
        </strong>
        <br>
        <p>MySQL is one of the most popular open-source relational database management systems (RDBMS). It's used for a wide variety of applications, from small personal projects to large-scale enterprise systems and even web-based applications. MySQL is known for its simplicity, reliability, and performance.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/11">C++</a>
        </strong>
        <br>
        <p>C++ is a general-purpose programming language created as an extension of the C programming language. It was originally developed by Bjarne Stroustrup in 1983. The language offers both high- and low-level programming capabilities and is often considered a "middle-level" language because of its ability to encapsulate both high- and low-level programming language features.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/16">Python</a>
        </strong>
        <br>
        <p>Python is a high-level, interpreted programming language that is widely used for web development, data analysis, artificial intelligence, and scientific computing. It is known for its simplicity, readability, and flexibility, which make it a great language for beginners and experts alike. One of the main benefits of Python is its large and active community, which has developed a wealth of libraries and frameworks for many different purposes. This means that you can often find existing tools and packages to help you solve a wide range of problems, rather than having to build everything from scratch. Python also has a number of built-in features that make it easy to work with, including a powerful standard library, automatic memory management, and support for multiple programming paradigms, such as procedural, object-oriented, and functional programming. Overall, Python is a versatile language that is well-suited to a wide range of tasks and can be used in a variety of fields, including web development, data analysis, scientific computing, and more.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/21">C</a>
        </strong>
        <br>
        <p>
            What is C?<strong></strong>
            C is a general-purpose programming language created by Dennis Ritchie at the Bell Laboratories in 1972. It is a very popular language, despite being old. C is strongly associated with UNIX, as it was developed to write the UNIX operating system.
        </p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/39">Swift</a>
        </strong>
        <br>
        <p>
            Swift is a general-purpose, multi-paradigm programming language developed by Apple for iOS, macOS, watchOS, tvOS, vision pro and beyond. It was introduced at Apple's 2014 Worldwide Developers Conference (WWDC) to provide a more modern language that is also more safe, fast, and expressive compared to Objective-C, which had been the main programming language used for Apple development.<br>&nbsp;
        </p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/47">Aerosol </a>
        </strong>
        <br>
        <p>Each of these elements can be involved in many different chemical reactions, depending on the conditions and the other substances present. Here are some simple examples of reactions involving each of these elements:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/48">Renewable Energy</a>
        </strong>
        <br>
        <p>Renewable energy, often referred to as clean energy, comes from natural sources or processes that are constantly replenished. For example, sunlight or wind keep shining and blowing, even if their availability depends on time and weather. While renewable energy is often thought of as a new technology, harnessing nature's power has long been used for heating, transportation, lighting, and more.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/49">Space</a>
        </strong>
        <br>
        <p>Space, also known as outer space, is the vast expanse that exists beyond Earth's atmosphere.Space exploration has expanded our knowledge of the universe, contributing to scientific discoveries and technological advancements. The study of space involves multiple disciplines, including astronomy, astrophysics, and cosmology. It's characterised by several distinct features:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/50">Artificial Foods</a>
        </strong>
        <br>
        <p>"Artificial foods" can refer to a variety of food products or substances that are created using artificial or synthetic ingredients rather than being naturally sourced. It's important to note that not all artificial or synthetic ingredients are necessarily unhealthy or unsafe. Many artificial additives and ingredients undergo rigorous testing by food safety authorities to ensure their safety for consumption. However, concerns about the health effects of certain artificial ingredients have led some people to prefer natural and minimally processed foods. Food labeling regulations in various countries require manufacturers to list the ingredients used, making it easier for consumers to make informed choices about the foods they purchase and consume. These can include:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/51">Biofuels</a>
        </strong>
        <br>
        <p>Biofuels are fuels that are derived from biomass – which can be plant materials or animal waste. These renewable sources of energy are used to create biofuels that can replace or supplement traditional fossil fuels like gasoline, diesel, and coal. The two most common types of biofuels are bioethanol and biodiesel:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/52">Quantum Computer</a>
        </strong>
        <br>
        <p>A quantum computer is a type of computer that uses the principles of quantum mechanics, a fundamental theory in physics that describes the behavior of energy and matter at atomic and subatomic levels. Unlike classical computers, which use bits as their basic unit of information (where each bit is either a 0 or a 1), quantum computers use quantum bits, or qubits.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/53">AI</a>
        </strong>
        <br>
        <p>Artificial Intelligence (AI) is a field of computer science that focuses on creating systems capable of performing tasks that typically require human intelligence. These tasks include learning, reasoning, problem-solving, perception, language understanding, and creativity. AI systems can be designed to mimic human cognitive functions or to solve problems autonomously.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/54">Celestial Mechanics</a>
        </strong>
        <br>
        <p>Celestial mechanics is a branch of astronomy that deals with the motions of celestial objects, such as stars, planets, moons, and artificial satellites. It primarily involves the application of physics, particularly Newtonian mechanics, to understand and predict the orbital dynamics of these bodies. The key aspects of celestial mechanics include:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/55">Discrete Mathematics </a>
        </strong>
        <br>
        <p>Discrete mathematics is a branch of mathematics that deals with discrete objects, as opposed to continuous objects. Discrete mathematics serves as the mathematical foundation of computer and information sciences. It is essential for developing algorithms, models, and understanding the theoretical underpinnings of computing and related technologies. Here's a breakdown of its key features and areas of study:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/56">Nuclear Energy</a>
        </strong>
        <br>
        <p>Nuclear energy is a form of energy that is released from the nucleus of atoms, the tiny units that make up all matter in the universe. This energy can be released in two main ways: nuclear fission and nuclear fusion.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/57">Genetics</a>
        </strong>
        <br>
        <p>Genetics is the scientific study of genes, heredity, and genetic variation in living organisms. It is a field of biology, but it intersects frequently with many other life sciences and is strongly linked with the study of information systems. Here are some key aspects of genetics:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/58">Artificial Milk</a>
        </strong>
        <br>
        <p>Artificial milk, often referred to as synthetic milk, is a product designed to replicate the properties and nutritional profile of natural cow's milk. It is created using various scientific methods, including bioengineering and fermentation techniques. The development of artificial milk is motivated by several factors:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/59">Satellites</a>
        </strong>
        <br>
        <p>
            A satellite is an object that orbits around a planet or a star. There are two main types of satellites: <strong>Natural Satellites</strong>
            : These are celestial bodies like moons, which naturally orbit planets. For example, Earth's moon is a natural satellite. <strong>Artificial Satellites</strong>
            : These are man-made objects launched into space to orbit Earth or other celestial bodies. They serve various purposes, including:
        </p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/60">Sperm</a>
        </strong>
        <br>
        <p>Sperm is a male reproductive cell, or gamete, in sexually reproducing organisms. In humans and most animals, sperm cells are produced in the male reproductive organs, specifically the testes in mammals. Here are some key aspects of sperm:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/61">Eyes</a>
        </strong>
        <br>
        <p>"Eyes" are organs of vision that play a crucial role in the perception of light, enabling organisms, including humans, to see. They are complex and highly specialized sensory organs. Here's a brief overview of their structure and function:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/62">Chemical energy</a>
        </strong>
        <br>
        <p>Chemical energy is a form of potential energy stored in the bonds of chemical compounds, like atoms and molecules. This energy is released or absorbed during chemical reactions. A classic example of chemical energy is the energy stored in fuels like gasoline or food. When these substances undergo a chemical reaction, like combustion in the case of gasoline or metabolism in the case of food, the chemical energy is transformed into other forms of energy, such as heat, light, or mechanical energy.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/63">Egg(Ovum)</a>
        </strong>
        <br>
        <p>An egg, commonly referred to as an ovum, is the female reproductive cell or gamete in many multicellular organisms. In humans and other animals, the ovum is a crucial component in reproduction and has several key characteristics:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/64">Atom</a>
        </strong>
        <br>
        <p>An atom is the smallest unit of ordinary matter that forms a chemical element. Every solid, liquid, gas, and plasma is composed of neutral or ionized atoms. Atoms are extremely small, typically around 100 picometers across. They consist of three main types of subatomic particles: protons, neutrons, and electrons.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/65">Cell</a>
        </strong>
        <br>
        <p>In biology, a cell is the smallest unit that can be classified as a living organism. It's the basic structural, functional, and biological unit of all known living organisms. Cells are often called the "building blocks of life." Here are some key aspects of biological cells:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/66">Black Holes</a>
        </strong>
        <br>
        <p>Black holes are among the most fascinating and mysterious objects in the universe. They are regions of space where the gravitational pull is so intense that nothing, not even light, can escape from it. This makes them invisible and detectable only by the effects they have on their surroundings.</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/67">Medicine</a>
        </strong>
        <br>
        <p>Medicine is a science and practice concerned with the diagnosis, treatment, and prevention of disease. It encompasses a variety of health care practices evolved a PPI to maintain and restore health by the prevention and treatment of illness. Medicine involves a range of practices that are informed by biomedical research, including:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/68">Internet of Bodies(IoB)</a>
        </strong>
        <br>
        <p>The Internet of Bodies (IoB) refers to the expanding ecosystem of devices connected to the internet that collect personal, physical data from or about human bodies. These devices often fall under the broader category of the Internet of Things (IoT), but are distinct due to their direct interaction or integration with the human body. Examples include:</p>
    </p>
    <p>
        <strong>
            <a class="black" href="/course/index/69">Prompt Engineering</a>
        </strong>
        <br>
        <p>Prompt engineering is the practice of crafting inputs (prompts) to effectively communicate with and guide the responses of AI systems, particularly those based on language models. This field has gained prominence with the advent of advanced AI models like GPT-3, GPT-4, and others. The key aspects of prompt engineering include:</p>
    </p>
</main>

{% endblock content %}